.content {
    max-width: 800px;
    margin: auto;
}

.carousel-control-next {
    background: gray !important;
    margin-left: 50px !important;
    width: 30px !important;
}

.carousel-control-prev {
    background: gray !important;
    margin-right: 50px !important;
    width: 30px !important;
}